{% extends 'account/dashboard_base.html' %}
{% load static %}

{% block content %}
  
		<div class="row">
      <div class="col-xl-3 col-md-6 col">
        <div class="info-box pull-up">
          <span class="info-box-icon bg-info"><i class="ion ion-stats-bars"></i></span>

          <div class="info-box-content">
            <span class="info-box-number">Account Level</span>
            <span class="info-box-text">{{request.user.account_level|capfirst}}</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
    
      <div class="col-xl-3 col-md-6 col">
        <div class="info-box pull-up">
          <span class="info-box-icon bg-info"><i class="fa fa-money"></i></span>

          <div class="info-box-content">
            <span class="info-box-number">Deposit Amount</span>
            <span class="info-box-text">$ {{request.user.deposit_amount}}</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->


      <div class="col-xl-3 col-md-6 col">
        <div class="info-box pull-up">
          <span class="info-box-icon bg-info"><i class="icon-wallet"></i></span>

          <div class="info-box-content">
            <span class="info-box-number">Wallet Ballance</span>
            <span class="info-box-text">$ {{request.user.wallet_balance}}</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->


      <div class="col-xl-3 col-md-6 col">
        <div class="info-box pull-up">
          <span class="info-box-icon bg-info"><i class="fa fa-money"></i></span>

          <div class="info-box-content">
            <span class="info-box-number">Trade Profit  </span>
            <span class="info-box-text">$ {{request.user.trade_profit}}</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->


      <div class="col-xl-3 col-md-6 col">
        <div class="info-box pull-up">
          <span class="info-box-icon bg-info"><i class="fa fa-money"></i></span>

          <div class="info-box-content">
            <span class="info-box-number">Total Balance</span>
            <span class="info-box-text">$ {{total_bal}}</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
	  <!-- /.col -->
	  

	  <div class="col-xl-3 col-md-6 col">
        <div class="info-box pull-up">
          <span class="info-box-icon bg-info"><i class="fa fa-line-chart"></i></span>

          <div class="info-box-content">
            <span class="info-box-number">Trade Progress</span>
            <span class="info-box-text">{{request.user.trade_progress}} <small>%</small></span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
	  <!-- /.col -->
  </div>

	  

    <!-- Main content -->
    <section class="content">
      
		
          
             


        
			<div class="col-lg-12 col-12">
				<div class="box">
					<div class="box-header with-border" style="text-align: center;">
					  <h3 class="box-title ">Live Trader</h3>

					 
					</div>
					<div class="box-body">
						  <!--meta 5 trader-->
						  <div id="webterminal" style="width:100%;height:500px;" class="table-responsive"></div>
						  <script type="text/javascript" src="https://trade.mql5.com/trade/widget.js"></script>
						  <script type="text/javascript">
							  new MetaTraderWebTerminal( "webterminal", {
								  version: 5,
								  server: "MetaQuotes-Demo",
								  demoAllServers: true,
								  startMode: "create_demo",
								  language: "en",
								  colorScheme: "black_on_white"
							  } );
						  </script>
						  </div>

					</div>
					<!-- /.box-body -->
				  </div>
			</div>
			


		</div>
			
		
		
	</section>
    <!-- /.content -->
  

  {% endblock %}