{% extends 'account/dashboard_base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block content %}
	
      <div class="error-page">

        <div class="error-content">
         	<div class="container" style="text-align:center;">
         	
        		<h2 class="headline text-success"> <i class="fa fa-check"></i></h2>
        		
			  <h3 class="margin-top-0">PASSWORD CHANGE SUCCESSFULL</h3>

			  
        
        <div class="row justify-content-center">
          
    
         
          <div class="row">
            
            <!-- /.col -->
            <div class=" text-center ml-4">
              
              <a href="{% url 'user_dashboard' %}"  class="btn btn-success margin-top-10 ml-3">Return to dashboard</a>
            </div>
            <!-- /.col -->
            
            <!-- /.col -->
          </div>
        
    
</div>

          </div>
        </div>
        <!-- /.error-content -->
        
 
      </div>
      <!-- /.error-page -->
     
  

{% endblock %}