{% extends 'account/dashboard_base.html' %}
{% load static %}


{% block content %}
	
      <div class="error-page">

        <div class="error-content">
         	<div class="container" style="text-align:center;">
         	
        		<h2 class="headline "> <i class="fa fa-mobile text-dark"></i></h2>
        		
			  <h3 class="margin-top-0">OTP VERIFICATION</h3>

			  <h5>
				A verification code has been sent to your registered email address.
			  </h5>
        
        <div class="row justify-content-center">
       
         
          <div class="row">
            
            <!-- /.col -->
            <div class=" text-center ml-4">
              <a href="{% url 'validate_otp' %}" type="submit" class="btn btn-success margin-top-10 mr-3">Proceed To Verification</a>
                          </div>
            <!-- /.col -->
            
            <!-- /.col -->
          </div>
       
    
</div>

          </div>
        </div>
        <!-- /.error-content -->
        
 
      </div>
      <!-- /.error-page -->
     
  

{% endblock %}