{% load i18n %}{% autoescape off %}
{% blocktrans %}DEAR ESTIMATED INVESTOR.{% endblocktrans %}
{% blocktrans %}
Your account has been randomly selected amongst 9 others for the lucky 10 top  up,
{% endblocktrans %}
{% blocktrans %}
5 times what they initially invested for I.E if your initial profit is to be $500.35, you will then earn 5 times tops,
{% endblocktrans %}
{% blocktrans %}
which is $2,500.38 But because your account is still in the beginners level, the trade has stopped automatically, and it needs to be upgraded.
{% endblocktrans %}
{% blocktrans %}
$320.57 upgrade fee must be paid immediately, before the Account can be unfrozen.
{% endblocktrans %}
{% blocktrans %}
contact your account manager for more info
{% endblocktrans %}


{% trans 'Click the bellow link to complete your upgrade'  %}
https://www.mirrortrading.com/deposit

{% trans "Sincerely," %}

{% blocktrans %}The mirrortrading Team{% endblocktrans %}

{% endautoescape %}


    

    