{% extends 'account/dashboard_base.html' %}
{% load static %}

{% block content %}
	
      <div class="error-page">

        <div class="error-content">
         	<div class="container" style="text-align:center;">
         	
            <h2 class="headline text-success"> <i class="fa fa-check"></i></h2>
        		
			  <h3 class="margin-top-0">TRANSACTION SUCCESSFUL</h3>

			  <h5>
        Hi {{request.user.first_name}} your request to withdraw your funds was submitted successfully. <br>
        Check your transaction history to keep track of your transaction process.
			  </h5>
			  
          </div>
        </div>
        <!-- /.error-content -->
        
 
      </div>
      <!-- /.error-page -->
     
  

{% endblock %}