{% extends 'account/dashboard_base.html' %}
{% load static %}

{% block content %}
	
      <div class="error-page">

        <div class="error-content">
         	<div class="container" style="text-align:center;">
         	
        		<h2 class="headline text-danger"> <i class="fa fa-exclamation-triangle"></i></h2>
        		
			  <h3 class="margin-top-0">YOU ARE NOT ELIGABLE FOR WITHDRAW!</h3>

			  <h5>
				Hi {{request.user.first_name }} <br>You are not qualified for withdrawal at the moment, <br>keep your account active.
				This error message will auto delete when your are qualified.
			  </h5>
			  
          </div>
        </div>
        <!-- /.error-content -->
        
 
      </div>
      <!-- /.error-page -->
     
  

{% endblock %}